
.container_main{
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.flex{
  display: flex;
  width: 75%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.modalIsOpen{
  opacity: 0.5;
}
